<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="container mt-4">
  <%= form_with model: @field, url: admin_fields_path, local: true do |form| %>
    <%= render "shared/field_form", form: form %>
  <% end %>
</div>
