<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header bg-danger text-light">
    <strong class="me-auto"><%= I18n.t("shared.toast.alert") %></strong>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body bg-danger text-light">
    <%= msg %>
  </div>
</div>
