<turbo-stream target="<%= dom_id @booking_field %>_status" action="replace">
  <span class="badge <%= bootstrap_status_class @booking_field.status %>">
    <%= @booking_field.status.capitalize %>
  </span>
</turbo-stream>
