$calendar-background-color: #e9ecef;
$day-cell-background-color: #f8f9fa;
$day-cell-border-color: #dee2e6;
$today-cell-color: #007bff;
$today-cell-background-color: transparent;
$today-cell-number-background-color: #007bff;
$today-cell-number-color: white;
$time-slot-background-color: #fff;
$day-slot-background-color: #fff;
$day-slot-border-color: #dee2e6;
$current-time-indicator-color: red;

/* booked */
$booked-0-bg-color: #f0ad4e;
$booked-0-color: rgb(0, 0, 0);
$booked-1-bg-color: #5cb85c;
$booked-1-color: rgb(255, 255, 255);
$booked-3-bg-color: #6c757d;
$booked-3-color: rgb(255, 255, 255);
$booked-bg-color: #ffffff;
$booked-color: rgb(0, 0, 0);
