$white: #fff;
$background: #35b26b;
$button-background: #35b26b;
$button-text:white;
$button-background-gg: #393939;
$button-hover-gg: #4c4c4c;
$button-hover: #31a162;
$button-active: #309a5e;
$button-view-detail: #309a5e;
$shadow: rgba(0, 0, 0, 0.15);
$button-border-bottom: #ddd;
$btn-outline-primary: #007bff;
$rating-color: #35b26b65;
$star-rating-color: #ffc107;
$comment-color: #ddd;
$rating-star: #ffdc6c;
$description-field: #000;
$star-empty: gray;
$status-pending-background-color: #f0ad4e;
$status-pending-color: white;
$status-approval-background-color:#5cb85c;
$status-approval-color: white;
$status-canceled-background-color:#d9534f;
$status-canceled-color: white;
$status-default-background-color: #6c757d;
$status-default-color: white;
$grey: #333;
$state-danger-text: #d9534f;
$red: red;
$user-actiavted-color: #5cb85c;
$user-not-actiavted-color: #d9534f;
$voucher-available-color: #5cb85c;
$voucher-expired-color: #d9534f;
$gray: #888;
$popup-background: rgba(0,0,0,0.4);
$footer-background: #343a40;
$footer-text: #ffffff;
$footer-ul: #ffffff;
$navbar-background-color: #343a40;
$navbar-background-box-shadow: rgba(0, 0, 0, 0.2);
$logo-color: #ffffff;
$logo-color-hover: #cccccc;
$navbar-item: #ffffff;
$nabar-item-hover: #cccccc;
$nabar-item-border-bottom: #ffffff;
$drop-down-menu: #343a40;
$drop-down-item: #ffffff;
$drop-down-item-hover: #cccccc;
$caret: #ffffff;
