$white: #fff;
$background: #35b26b;
$button-text:rgb(0, 0, 0);
$button-hover: #31a162;
$button-active: #309a5e;
$button-view-detail: #309a5e;
$shadow: rgba(0, 0, 0, 0.15);
$button-border-bottom: #ddd;
$btn-outline-primary: #007bff;
$rating-color: #35b26b65;
$star-rating-color: #ffc107;
$comment-color: #ddd;
$rating-star: #ffdc6c;
$description-field: #000;
$star-empty: gray;
