$color-intransit: #65aee0;
$color-outfordelivery: #f5a551;
$color-deliveryoffice: #f7dc6f;
$color-delivered: #4cbb87;
$color-attemptfail: #b789c7;
$color-error: #d26759;
$color-expired: #616e7d;
$color-pending: #ccc;
$color-inforeceived: #214977;
$color-icon-background: #fff;
$color-text-default: #888;
$color-text-light: #e5e5e5;
