@import 'color_tracking';

.tracking-detail {
  padding: 3rem 0;
}

#tracking {
  margin-bottom: 1rem;
}

[class*="tracking-status-"] p {
  margin: 0;
  font-size: 1.1rem;
  color: $color-icon-background;
  text-transform: uppercase;
  text-align: center;
}

[class*="tracking-status-"] {
  padding: 1.6rem 0;
}

.tracking-status-intransit {
  background-color: $color-intransit;
}

.tracking-status-outfordelivery {
  background-color: $color-outfordelivery;
}

.tracking-status-deliveryoffice {
  background-color: $color-deliveryoffice;
}

.tracking-status-delivered {
  background-color: $color-delivered;
}

.tracking-status-attemptfail {
  background-color: $color-attemptfail;
}

.tracking-status-error,
.tracking-status-exception {
  background-color: $color-error;
}

.tracking-status-expired {
  background-color: $color-expired;
}

.tracking-status-pending {
  background-color: $color-pending;
}

.tracking-status-inforeceived {
  background-color: $color-inforeceived;
}

.tracking-list {
  border: 1px solid $color-text-light;
}

.tracking-item {
  border-left: 1px solid $color-text-light;
  position: relative;
  padding: 2rem 1.5rem 0.5rem 2.5rem;
  font-size: 0.9rem;
  margin-left: 3rem;
  min-height: 5rem;
}

.tracking-item:last-child {
  padding-bottom: 4rem;
}

.tracking-item .tracking-date {
  margin-bottom: 0.5rem;
}

.tracking-item .tracking-date span {
  color: $color-text-default;
  font-size: 85%;
  padding-left: 0.4rem;
}

.tracking-item .tracking-content {
  padding: 0.5rem 0.8rem;
  background-color: $color-icon-background;
  border-radius: 0.5rem;
}

.tracking-item .tracking-content span {
  display: block;
  color: $color-text-default;
  font-size: 85%;
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: $color-icon-background;
  color: $color-icon-background;
}

.tracking-item .tracking-icon.status-sponsored {
  background-color: $color-error;
}

.tracking-item .tracking-icon.status-delivered {
  background-color: $color-delivered;
}

.tracking-item .tracking-icon.status-outfordelivery {
  background-color: $color-outfordelivery;
}

.tracking-item .tracking-icon.status-deliveryoffice {
  background-color: $color-deliveryoffice;
}

.tracking-item .tracking-icon.status-attemptfail {
  background-color: $color-attemptfail;
}

.tracking-item .tracking-icon.status-exception {
  background-color: $color-error;
}

.tracking-item .tracking-icon.status-inforeceived {
  background-color: $color-inforeceived;
}

.tracking-item .tracking-icon.status-intransit {
  color: $color-text-light;
  border: 1px solid $color-text-light;
  font-size: 0.6rem;
}

.color-tracking-action {
  color: $color-outfordelivery;
}

.color-tracking-model {
  color: $color-delivered;
  font-weight: bold;
}
@media (min-width: 992px) {
  .tracking-item {
    margin-left: 10rem;
  }
  .tracking-item .tracking-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }
  .tracking-item .tracking-date span {
    display: block;
  }
  .tracking-item .tracking-content {
    padding: 0;
    background-color: transparent;
  }
}
