@import 'calendar_color';

.calendar {
  display: grid;
  grid-template-columns: 60px repeat(7, 1fr);
  grid-auto-rows: minmax(50px, auto);
  position: relative;
  gap: 1px;
  background-color: $calendar-background-color;
}
.days-row, .time-slot-row {
  display: contents;
}
.day-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: $day-cell-background-color;
  border: 1px solid $day-cell-border-color;
  padding: 5px;
  position: relative;
}
.day-cell.today {
  background-color: $today-cell-background-color;
  color: $today-cell-color;
}
.day-cell.today .day-number {
  background-color: $today-cell-number-background-color;
  color: $today-cell-number-color;
  border-radius: 50%;
  padding: 5px 10px;
}
.day-cell .day-number {
  font-size: 1.2em;
}
.day-cell .day-name {
  font-size: 0.8em;
}
.time-slot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: $time-slot-background-color;
  border: 1px solid $day-slot-border-color;
}
.day-slot {
  border: 1px solid $day-slot-border-color;
  padding: 10px;
  text-align: center;
  background-color: $day-slot-background-color;
}
.booked-0 {
  background-color: $booked-0-bg-color !important;
  color: $booked-0-color !important;
}
.booked-1 {
  background-color: $booked-1-bg-color !important;
  color: $booked-1-color !important;
}
.booked-3 {
  background-color: $booked-3-bg-color !important;
  color: $booked-3-color !important;
}
.booked {
  background-color: $booked-bg-color !important;
  color: $booked-color !important;
}
.current-time-indicator {
  position: absolute;
  height: 2px;
  background-color: $current-time-indicator-color;
  width: 100%;
  left: 0;
  z-index: 1;
}
