@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'font-awesome';

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: $white;
  text-decoration: none;
}

/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.custom-btn {
  font-size: 14px;
  padding: 8px 10px;
  background-color: $background;
  border: none;
  color: $button-text;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
}
.custom-btn:hover {
  background-color: $button-hover;
}
.p-link {
  font-size: 18px;
  color: $background;
  text-decoration: underline;
  font-size: 14px;
}
.p-link:hover {
  color: $button-hover;
  text-decoration: none;
  font-size: 14px;
}

/* Dropdown menu */
.dropdown-menu.active {
  display: block;
}

:root{
  font-size: 18px;
}
.search-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  background-color: $background;
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: 0.2s;
  padding: 10px 0;
}

.button:hover {
  background-color: $button-hover;
}

.button:active {
  background-color: $button-active;
}

.view-detail-btn {
  width: 90%;
  background-color: transparent;
  color: $button-view-detail;
}

.list-field {
  padding-top: 30px;
}

.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
  overflow: hidden;
  border-radius: 5%;
  margin-top: 30px;
  padding-bottom: 5%;
  box-shadow: 0 10px 20px $shadow;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px $shadow;
}

.fixed-img {
  width: 100%;
  display: block;
  height: 300px;
  border-bottom: 1px solid $button-border-bottom;
}

.card-body {
  padding-left: 5%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.95rem;
  line-height: 1.5;
}

.btn-outline-primary {
  border-color: $btn-outline-primary;
  color: $btn-outline-primary;
}

.btn-outline-primary:hover {
  background-color: $btn-outline-primary;
  color: $white;
}

.form-control,
.btn {
  border-radius: 20px;
  margin-top: 10px;
}

/* Show detail */
.field-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5%;
}

.field-detail-name {
  color: $white;
}

.field-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: larger;
}

.field-description h2 {
  padding-bottom: 30px;
}

.section-field-detail {
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
  z-index: 100;
}

.detail-img {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 20px;
  height: 250px;
  width: 100%;
}

.detail-img img {
  width: 100%;
  object-fit: cover;
  filter: blur(5px);
}

.detail-info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 40px 50px;
  padding-bottom: 0px;
}

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide img {
  border-radius: 20px;
  height: 100%;
}

.row-seperate{
  margin: 50px;
}

/* Comment */
.rating {
  background-color: $rating-color;
  padding: 20px;
  border-radius: 10px;
}

.star-rating .fa-star {
  color: $star-rating-color;
}

.comment-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-right: 7px;
  object-fit: cover;
}

.comment {
  border-bottom: 1px solid $comment-color;
  padding: 10px 0;
}

.sub-comment {
  display: flex;
  align-items: center;
}

.description-field p {
  color: $description-field;
}

.description-field p strong {
  color: $background ;
}

.text-start p {
  color: $description-field
}

.text-start p strong {
  color: $background ;
}

.swiper-button-prev, .swiper-button-next{
  color: $background ;
}

.row-seperate {
  height: 1px; 
  background-color: $background;
}

.rating-star {
  font-size: medium; 
  color: #ffdc6c
}

.comment-container {
  height: 3px; 
  background-color: $background
}

.empty-star {
  color: $star-empty;
}

.field_infor_image {
  width: 400px;
}
